<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false">
    <variable name="logDirectory" value="Logs" />
    <targets>
        <target name="console" xsi:type="Console" layout="[${date}] ${logger} - [${level}] ${message}" />

        <target xsi:type="AsyncWrapper" name="fileAsync" queueLimit="100000" timeToSleepBetweenBatches="5" batchSize="500" overflowAction="Block">
            <target xsi:type="File" fileName="${basedir}/${logDirectory}/${shortdate}_${logger}_${level}.log" layout="${longdate}&#x9;${threadname}&#x9;${message} ${exception:format=tostring}" encoding="UTF-8" />
        </target>
    </targets>
    <rules>
        <logger name="*" minLevel="Debug" writeTo="fileAsync" />
        <logger name="*" minLevel="Debug" writeTo="console" />
    </rules>
</nlog>
